@charset "UTF-8";

* {
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
}

body {


        background-image: url(../imagens/fundo.png);
        height: 100dvh;   
}

h1 {
              
                color: #9db0d8;
                text-shadow: 3px 3px 4px black;
                background-color: #6D7DB0;
                width: 200px;
                margin: auto;
}

.div {
                width: 90%;
                height: 20px;
                background-color: rgba(255, 255, 255, 0.384);
                margin: 10px;
}

h2 {
        color: #9db0d8;
        font-family: monospace;
}

#resultado {
                height: 50px;
                width: 220px;
                background-color: white;
                margin: 15px;
                color: black;
                text-align: right;
                font-size: 40px;
}

.calculadora {
                position: absolute;
                background-color: black;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 15px;
                padding: 15px;
}

.botao {
                width: 50px;
                height: 50px;
                font-size: 17px;
                margin: 2px;
                cursor: pointer;
                background-color: #6D7DB0;
                border: none;
                border-radius: 2px;
                color: white;
}

.botao:hover {
                background-color: rgba(48, 44, 44, 0.417);
                color: red;
}

#botao-0 {
                width: 106px;
}
#botao-igual {
                height: 106px;
}

footer {
                background-color: black;
                height: 50px;
                width: 100vw;
                display: flex;
                position: fixed;
                bottom: 0;
                justify-content: center;
                align-items: center;
}

.p-footer {
                color: white;
}

